body{
    text-align: center;
}
table{
    border-collapse: collapse;
    width:60%;
    margin: auto;
    font-size: 1.5em; /* px,em,rem */
}
/* td{
    border-bottom: 1px solid rgb(17, 175, 38);
} */
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}
tr:hover{background-color: #e6f7f8;}
.st{
    color: gray;
}
.button{
    border:0;
    background-color:#6be0f5;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width:150px;
    height:50px;
    font-size:  16px;
}
.button:hover{
    color:#68e5ee;
    background-color:#fff;
    border:2px #62cfeb solid;
}